
@if(showCreateTaskForm) {
    <app-create-task
        (CloseForm)="CloseCreateTaskForm()"
        (emitTask)="createOrUpdateTask($event)"
        [editMode]="editMode"
        [selectedTask]="selectedTask"
    ></app-create-task>
}

@if(showTaskDetails){
    <app-task-details [selectedTask]="selectedTask" (closeDetailView)="showTaskDetails = false"></app-task-details>
}

<div class="dashboard-container">
    <div style="display: flex;">
        <div style="width: 50%">
            <h2>Dashboard</h2>
        </div>
        <div style="width: 50%; text-align: right;">
            <button class="create-task-btn" (click)="OpenCreateTaskForm()">Create Task</button>
            <button class="create-task-btn" (click)="fetchTasks()">Fetch Tasks</button>
            <button class="create-task-btn" (click)="deleteAllTasks()">Clear Tasks</button>
        </div>
    </div>

    <hr>

    <div class="dashboard-item-container">
        @if(taskList.length == 0){
            <div style="text-align: center;">
                <h2>No Task created yet!</h2>
            </div>
        }
        @if(errorMssg){
            <div class="sb sb-error">{{ errorMssg }}</div>
        }
        
        @if(isLoading()){
        <div class="loader"></div>
        } @else{
            @for(task of taskList; track task.id){
                <div class="task-item" [ngClass]="'task-' + task.status">
                    <div class="task-title">
                        <h3>{{ task.title }}</h3>
                    </div>
                    <p><b>Assigned to: </b>{{ task.assignedTo }}</p>
                    <p><b>Priority: </b>{{ task.priority }}</p>
                    <p><b>Status: </b>{{ task.status }}</p>
                    <div class="task-action-icons">
                        <button class="task-action-btn" title="Detail" (click)="showTask(task.id)">
                            <i class="fa fa-info-circle" aria-hidden="true"></i>
                        </button>
                        <button class="task-action-btn" title="Edit" (click)="onEditClick(task.id)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button class="task-action-btn" title="Delete" (click)="deleteTask(task.id)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>            
                    </div>
                </div>
            }
        }
        
            
    </div>
</div>